<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Icons</key>
	<array>
		<string>chemist</string>
		<string>general_store</string>
		<string>doctor_specialist</string>
		<string>restaurant_cafe</string>
		<string>salon</string>
		<string>diagnostic_centre</string>
		<string>banquet</string>
		<string>bar_shop</string>
		<string>home_service</string>
		<string>hospital</string>
		<string>ambulance</string>
		<string>insurance</string>
		<string>sweet_shop</string>
		<string>motorcycle</string>
		<string>laundary</string>
		<string>courier</string>
		<string>salon</string>
	</array>
	<key>Category</key>
	<array>
		<string>Pharmacy</string>
		<string>Stores</string>
		<string>Doctors</string>
		<string>Eateries</string>
		<string>Salon &amp; Spa</string>
		<string>Diagnostic Centres</string>
		<string>Event Venues</string>
		<string>Fitness Centres</string>
		<string>Lifestyle &amp; Utility</string>
	</array>
	<key>subCategory</key>
	<array>
		<false/>
		<true/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
	</array>
</dict>
</plist>
